# Папки сборки и временные файлы
bin/
obj/

# Файлы журнала и временные файлы
*.log
*.tmp

# Файлы пользовательских настроек Visual Studio
*.suo
*.user
*.userosscache
*.sln.iml
*.csproj.user

# Файлы, которые не должны быть под контролем версий
appsettings.Development.json
appsettings.Production.json
